# Basic T-SQL Querying

This notebook covers simple SQL queries using the `SELECT` keywords. The different concepts covered here is as follows:

- Selecting all records from a table
- Selecting specific columns from a table
- Selecting distinct items from column(s)
- Selecting TOP-N records
- Selecting TOP-N % records
- Sorting the results in ascending & descending order
- Filtering the results with `WHERE` clause
    - Filtering with the use of `IN` Keyword
    - Filtering with the use of `BETWEEN` Keyword
    - Filtering with the use of `AND` & `OR` operators
- Wildcard Text Filtering with `LIKE` Keyword

### Connecting to `DemoDB` Database

The following query connects to the `DemoDB` database

In [2]:
USE DemoDB
GO

### Selecting All Records

The following query selects all records from the `person` table:

In [3]:
SELECT * FROM dbo.person

id,name,age,gender_id,city,email
100,Rockie,58,2,New York,r@t.com
101,Paul,25,3,Chicago,schasmar1@artisteer.com
102,Henka,88,2,Houston,hhardwicke2$japanpost.jp
103,Eolande,58,3,Los Angeles,erapinett3@irs.gov
104,Weston,86,2,Dallas,wjewke4$desdev.cn
105,Bernie,80,2,Atlanta,bpauly5@ning.com
106,Craggy,70,1,Los Angeles,c@g.fr
107,Giordano,65,2,New York,gburgwyn7@spiegel.de
108,Regen,84,3,Saint Paul,roppery8@diigo.com
109,Paul,41,2,Chicago,pbeeson9@newsvine.com

### Selecting All Records for Specific Columns

The following query executes some specific columns from the `person` table:

In [4]:
SELECT 
    [name],
    [age],
    [email] 
FROM dbo.person

name,age,email
Rockie,58,r@t.com
Paul,25,schasmar1@artisteer.com
Henka,88,hhardwicke2$japanpost.jp
Eolande,58,erapinett3@irs.gov
Weston,86,wjewke4$desdev.cn
Bernie,80,bpauly5@ning.com
Craggy,70,c@g.fr
Giordano,65,gburgwyn7@spiegel.de
Regen,84,roppery8@diigo.com
Paul,41,pbeeson9@newsvine.com

### Selecting Distinct Items from Column(s)

The following query executes the distinct city names present in the `city` column of the `person` table:

In [5]:
SELECT
    DISTINCT [city]
FROM
    dbo.person

city
Atlanta
Chicago
Dallas
Houston
Los Angeles
New York
Saint Paul

The following query executes the distinct combination of cities and person names from the  `city` and `name` of the `person` table:

In [6]:
SELECT
    DISTINCT [name], [city] 
FROM
    dbo.person

name,city
Bernie,Atlanta
Craggy,Los Angeles
Eolande,Los Angeles
Giordano,New York
Henka,Houston
Paul,Chicago
Regen,Saint Paul
Rockie,New York
Weston,Dallas

### Selecting TOP-N Records

The following query executes the top 3 records from the `persons` table

In [7]:
SELECT 
    TOP (3) *
FROM
    dbo.person

id,name,age,gender_id,city,email
100,Rockie,58,2,New York,r@t.com
101,Paul,25,3,Chicago,schasmar1@artisteer.com
102,Henka,88,2,Houston,hhardwicke2$japanpost.jp

The following query executes the top 3 records with just `name` and `age` column from the `persons` table

In [8]:
SELECT 
    TOP (3) [name], [age]
FROM
    dbo.person

name,age
Rockie,58
Paul,25
Henka,88

### Selecting TOP-N % Records

The following query executes the top 50% records from the `persons` table

In [9]:
SELECT 
    TOP (50) PERCENT *
FROM
    dbo.person

id,name,age,gender_id,city,email
100,Rockie,58,2,New York,r@t.com
101,Paul,25,3,Chicago,schasmar1@artisteer.com
102,Henka,88,2,Houston,hhardwicke2$japanpost.jp
103,Eolande,58,3,Los Angeles,erapinett3@irs.gov
104,Weston,86,2,Dallas,wjewke4$desdev.cn

The following query executes the top 30% records with just `name` and `age` column from the `persons` table

In [10]:
SELECT 
    TOP (50) PERCENT [name], [age]
FROM
    dbo.person

name,age
Rockie,58
Paul,25
Henka,88
Eolande,58
Weston,86

### Sorting the Query Output

The following query selects all records from the person table and sorts them first by descending order of `age` column, ascending order of `gender_id` column and lastly by ascending order of `name` column

In [11]:
SELECT
    *
FROM
    dbo.person
ORDER BY
    age DESC, gender_id ASC, name ASC

id,name,age,gender_id,city,email
102,Henka,88,2,Houston,hhardwicke2$japanpost.jp
104,Weston,86,2,Dallas,wjewke4$desdev.cn
108,Regen,84,3,Saint Paul,roppery8@diigo.com
105,Bernie,80,2,Atlanta,bpauly5@ning.com
106,Craggy,70,1,Los Angeles,c@g.fr
107,Giordano,65,2,New York,gburgwyn7@spiegel.de
100,Rockie,58,2,New York,r@t.com
103,Eolande,58,3,Los Angeles,erapinett3@irs.gov
109,Paul,41,2,Chicago,pbeeson9@newsvine.com
101,Paul,25,3,Chicago,schasmar1@artisteer.com

The following query finds the oldest person from the `people` table

In [12]:
SELECT 
    TOP (1) *
FROM
    dbo.person
ORDER BY
    age DESC

id,name,age,gender_id,city,email
102,Henka,88,2,Houston,hhardwicke2$japanpost.jp

### Filtering Query with `WHERE` Clause

The following query executes all records from the  `person` table where  the city name is `'New York'`

In [13]:
SELECT
    *
FROM
    dbo.person
WHERE
    city = 'New York'

id,name,age,gender_id,city,email
100,Rockie,58,2,New York,r@t.com
107,Giordano,65,2,New York,gburgwyn7@spiegel.de

The following query executes all records from the  `person` table where  the city name is not `'New York'`

In [14]:
SELECT
    *
FROM
    dbo.person
WHERE
    city != 'New York'

id,name,age,gender_id,city,email
101,Paul,25,3,Chicago,schasmar1@artisteer.com
102,Henka,88,2,Houston,hhardwicke2$japanpost.jp
103,Eolande,58,3,Los Angeles,erapinett3@irs.gov
104,Weston,86,2,Dallas,wjewke4$desdev.cn
105,Bernie,80,2,Atlanta,bpauly5@ning.com
106,Craggy,70,1,Los Angeles,c@g.fr
108,Regen,84,3,Saint Paul,roppery8@diigo.com
109,Paul,41,2,Chicago,pbeeson9@newsvine.com

#### Filtering with `IN` Keyword

The following query executes all records from the  `person` table where  the city name is either `'New York'`,  `'Chicago'`, `'Los Angeles'`

In [11]:
SELECT
    *
FROM
    dbo.person
WHERE
    city IN ('Atlanta', 'Chicago', 'Los Angeles')

id,name,age,gender_id,city,email
101,Sholom,25,3,Chicago,schasmar1@artisteer.com
103,Eolande,58,3,Los Angeles,erapinett3@irs.gov
105,Bernie,80,2,Atlanta,bpauly5@ning.com
106,Craggy,70,1,Los Angeles,cdresche6@google.fr
109,Pall,41,2,Chicago,pbeeson9@newsvine.com

#### Filtering with `BETWEEN` Keyword

The following query executes all records from the  `person` table where the age of the person is in between `'50'` and `'65'`

In [12]:
SELECT
    *
FROM
    dbo.person
WHERE
    age BETWEEN 50 AND 65

id,name,age,gender_id,city,email
100,Rockie,58,2,New York,rastridge0@nifty.com
103,Eolande,58,3,Los Angeles,erapinett3@irs.gov
107,Giordano,65,2,New York,gburgwyn7@spiegel.de

#### Filtering with Boolean Operators: OR & AND Operators

The following query executes all records from the person table where the city name is either 'Atlanta' or, 'Los Angeles' and the age is greater than or, equal to '70'

In [17]:
SELECT
    *
FROM
    dbo.person
WHERE
    (city = 'Atlanta' OR city = 'Los Angeles') AND (age >= 70)

id,name,age,gender_id,city,email
105,Bernie,80,2,Atlanta,bpauly5@ning.com
106,Craggy,70,1,Los Angeles,c@g.fr

### Wildcard Text Filtering with `LIKE` Keyword

The following query executes all records from the `person` table where the city name starts with `'L'`.

In [16]:
SELECT
    *
FROM
    dbo.person
WHERE
    city LIKE 'L%'

id,name,age,gender_id,city,email
103,Eolande,58,3,Los Angeles,erapinett3@irs.gov
106,Craggy,70,1,Los Angeles,c@g.fr

The following query executes all records from the `person` table where email of the person doesn't contain the `'@'` symbol

In [15]:
SELECT
    *
FROM
    dbo.person
WHERE
    email NOT LIKE '%@%'

id,name,age,gender_id,city,email
102,Henka,88,2,Houston,hhardwicke2$japanpost.jp
104,Weston,86,2,Dallas,wjewke4$desdev.cn

The following query executes all records from the `person` table where the name of the person starts either with `'A'` or, `'R'` or, `'C'`

In [27]:
SELECT 
    TOP (3) [name], [age]
FROM
    dbo.person

name,age
Rockie,58
Sholom,25
Henka,88

In [21]:
SELECT
    *
FROM
    dbo.person
WHERE
    name LIKE '[ARC]%'

id,name,age,gender_id,city,email
100,Rockie,58,2,New York,rastridge0@nifty.com
106,Craggy,70,1,Los Angeles,cdresche6@google.fr
108,Regen,84,3,Saint Paul,roppery8@diigo.com